.carousel {
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.CarouselArrow {
  background-color: $color-black;
  border: none;
  cursor: pointer;

  .arrow-icon {
    height: 25px;
    width: 25px;
    padding: 5px;
  }

  &:hover {
    background-color: black;
  };

  &:focus {
    outline: none;
  }
}

.slick-arrow {
  position: absolute;
  height: 100%;
  z-index: 100;

  &.slick-next {
    right: 0;
  }

  &.slick-prev {
    left: 0;
  }
}
