.ColorBlock {
	padding: 20px;

  @media(min-width: $width-tablet) {
    padding: 0 40px 40px 40px;
  };
}

.color-block-swatches {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.Color {
		flex: 0 0 50%;

	  @media(min-width: $width-tablet) {
	    flex: 0 0 25%;
	  };

  	@media(min-width: $width-laptop) {
			flex: 0 0 20%;
	  };

	}
}