.mission-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 1em;
  padding: 2em $padding-content-mobile;
  text-align: left;

  @media(min-width: $width-tablet) {
    font-size: 1.15em;
    padding: 3em 3em;
    text-align: justify;
  }

  p {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 1.5em;
    max-width: 600px;
  }

  .contact-us {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    align-self: left;
  }
}

.home-bios {
  padding: 2em 0;

  @media(min-width: $width-xlarge) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.home-bio {
  padding: $padding-content-mobile;
  display: flex;
  flex-flow: column;
  padding-bottom: 3em;

  @media(min-width: $width-tablet) {
    padding: 2em $padding-content;
    flex-flow: row;
  }
}

.home-bio-img-container {
  display: block;
  height: auto;
  padding-bottom: 2em;


  @media (min-width: $width-tablet) {
    padding: 0;
  }
}

.home-bio-img {
  width: 100%;

  @media (min-width: $width-tablet) {
    width: 220px;
  }
}

.home-bio-p {
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width: $width-tablet) {
    padding: 0 0 0 2em;
    text-align: justify;
    width: 70%;
  }

  @media (min-width: $width-laptop) {
    padding: 0 3em 0 5em;
    font-size: 1.15em;
    margin-bottom: 1.5em;
    width: 75%;
  }
}

.core-list {
  width: 100%;
  text-align: center;
  padding: 1em 2em;
  font-size: 1.15em;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    text-align: center;
  }
}

.core-list-li {
  margin-bottom: 1em;
}

.contact-us {
  margin: 2em auto;
  padding: 0 $padding-content-mobile;
}

.tiles-main {
  padding: 2em 0;
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    padding: 0em;
  }
}

.tiles-main-img {
  display: block;
  float: left;
  height: auto;

  @media (min-width: $width-tablet) {
    width: 50%;
  }
}

.slider-decorator-0 button, .slider-decorator-1 button {
  font-size: 1em;
  background: black !important;
}

