.header {
  background-color: white;
  border-bottom: 1px solid WhiteSmoke;
  display: block;
  padding: 1.5em .75em;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;

  @media(min-width: $width-small-mobile) {
    padding: 1.5em;
  }

  @media(min-width: $width-tablet) {
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 40px;
  }
}

.headline-link:hover {
  text-decoration: none;
  align-items: flex-end;
}

.headline {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(0, 0, 0, .75);
  font-size: 1.5em;
  font-weight: 400;

  &:hover {
    text-decoration: none;
  };
}

.header-links {
  padding: 1em 0 0 0;

  @media(min-width: $width-tablet) {
    padding: 0 0 0 1.5em;
  }
}

.header-link {
  letter-spacing: .1em;
  padding: 1em 10px 1em 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: .6em;

  @media(min-width: $width-small-mobile) {
    font-size: .75em;
  }

  @media(min-width: $width-tablet) {
    padding: 1em;
    font-size: .85em;
  }
}
