.pattern-breadcrumb {
  padding: 2em 2em 0 $padding-content-mobile;

  @media(min-width: $width-tablet) {
    padding: 2em 2em 0 2em;
  }
}

.pattern-text {
  float: left;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 $padding-content-mobile;
  width: 100%;

  @media(min-width: $width-laptop) {
    padding: 2em;
    width: 40%;
  }

  p {
    margin-bottom: 20px;
  }

  .pattern-share-link {
    color: $color-mint;
    padding-left: 7px;
    -webkit-transition: color .25s, -webkit-transform .25s;
    transition: .25s;

    &:hover {
      color: #64B1B8;
    };
  }
}

.pattern-title-container {
  align-items: center;
  justify-content: center;
  background-color: $color-slate-grey;
  display: flex;
}

.pattern-title {
  color: white;
  letter-spacing: .025em;
  font-weight: 300;
  padding: 40px;

  @media(min-width: $width-laptop) {
    font-size: 2.5em;
  }
}

.pattern-description {
  font-size: 1.15em;
  padding: 2em 0 0;

  @media(min-width:  $width-laptop) {
    text-align: justify;
    max-width: 1000px;
    line-height: 1.5;
    font-weight: 300;
    align-self: center;
  }
}

.pattern-carousel {
  width: 100%;
  float: right;
  padding: 2em $padding-content-mobile;

  @media(min-width: $width-laptop) {
    padding: 1em 2em;
    width: 60%;
  }

  .carousel .slide {
    background: none;
  }

  .carousel.carousel-slider .control-arrow {
    background: black;
  }
  
  .carousel .slide img {
    vertical-align: center;
    border: 0;
    width: 50%;
  }

  .carousel-img-container {
    width: 100%;

    @media(min-width: $width-tablet) {
      width: 600px;
    }
  }
}

.carousel .slide {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel .thumbs-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .thumb {
  width: 50px;
}

.next-prev-arrows {
  display: inline-block;
  width: 100%;
  padding: 40px 0;

  .previous {
    float: left;
    width: 100%;

    @media(min-width: $width-tablet) {
      width: auto;
    }
  }

  .next {
    float: right;
    width: 100%;

    @media(min-width: $width-tablet) {
      width: auto;
    }
  }
}
