.header {
  padding: 1em;
  width: 100%;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid WhiteSmoke;
  color: rgba(0, 0, 0, .75);
  text-transform: uppercase;
  letter-spacing: .1em;

  @media (min-width: 32em) {
    padding: 1em 2em;
  }

  font-size: 2rem;
}

.tile-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 8em;

  @media (min-width: 32em) {
    flex-direction: row;
    padding: 9em 1em 0 1em;
  }
}

.tile-bar-img {
  padding: 1em 0em;
  display: block;
  width: calc(100%/3);
  align-self: center;

  @media (min-width: 32em) {
    padding: 0 3em;
  }
}

.text-main {
  padding: 2em 2em 1em 2em;

  @media (min-width: 32em) {
    padding: 3em 4em;
  };
}

.text-main p {
  margin-bottom: 1em;
  max-width: 1000px;
}

.text-main h3 {
  margin-bottom: 1em;
}

.core-list {
  width: 100%;
  text-align: center;
  padding: 1em 0;

  @media (min-width: 32em) {
    text-align: left;
  }
}

.tiles-main {
  display: block;
  padding: 2em 0;

  @media (min-width: 32em) {
    padding: 0em;
  }
}

.tiles-main-img {
  display: block;
  width: 100%;
  float: left;

  @media (min-width: 32em) {
    width: 50%;
  }
}
