.feature-page-section-header {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, .75);
}

.feature-page-hero {
  display: flex;
  height: 400px;
  flex-direction: column;
  background: no-repeat center;
  background-size: cover;

  .divider {
    color: white;
  }

  .vertical-center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: -50px;

    @media(min-width: $width-tablet) {
      justify-content: start;
    }
  }

  .header-container {
    background: $color-black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin: 0 $padding-content-mobile;
    width: 100%;
    min-width: 212px;

    @media(min-width: $width-tablet) {
      padding: 1em 2em;
      margin: 0 0 0 4em;
      width: 300px;
    }

    h1 {
      font-weight: 300;
      width: 100px;
      font-size: 2.5em;

      @media(min-width: $width-tablet) {
        width: 210px;
      }
    }

    .feature-page-links {
      padding-top: 1em;

      a {
        color: $color-mint;
        padding-right: 7px;

        @media(min-width: $width-tablet) {
          padding-right: 10px;
        }
      }
    }
  }
}

.feature-page-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2em 0;

  @media(min-width: $width-tablet) {
    flex-flow: row;
    padding: 5em 0;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: 2em;

    @media(min-width: $width-tablet) {
      width: 35%;
      margin-top: 0;
    }

    li {
      padding: 0 $padding-content-mobile;
      font-size: 1em;
      padding-bottom: 7.5px;

      @media(min-width: $width-tablet) {
        padding-left: 5%;
      }
    }
  }

  .feature-page-paragraph {
    font-weight: 300;
    line-height: 1.5;
    max-width: 500px;
    text-align: justify;
    padding: 0 $padding-content-mobile;

    @media(min-width: $width-tablet) {
      padding: 0 4em;
    }

    @media(min-width: $width-laptop) {
      padding: 0 4em 0 0;
    }
  }
}

.feature-pattern-carousel {
  .carousel-img-container {
    width: inherit;

    img {
      max-height: 500px;

      @media(min-width: $width-tablet) {

        width: auto !important;
      }
    }
  }
}

.feature-page-process {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 4em;

  .feature-process-content {
    display: flex;
    align-items: center;
    padding: 3em 0;

    img {
      width: 300px;
      float: left;
    }

    ul {
      float: left;
      padding-left: 3em;
      width: 500px;

      li {
        font-size: 1.2em;
        padding-top: 15px;
      }
    }
  }

}
