.HomeHero {
  position: relative;
  padding-top: 40px;

  @media(min-width: $width-tablet) {
    padding-top: 6px;
  }
}

.HomeHero-background {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.HomeHero-tile {
  width: 25%;
  flex-grow: 0;

  @media(min-width: $width-tablet) {
    width: (100%/6);
  }

  img {
    width: 100%;
  }

}

.HomeHero-text-container {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  position: absolute;
  justify-content: center;
  -webkit-justify-content: center;
  top: 0;
  padding-top: inherit;
  height: 100%;
  width: 100%;
}

.HomeHero-text {
  background-color: $color-slate-grey;
  color: white;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-flow: column;
  padding: 1em 2em;
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .25em;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

.pattern-cta {
  align-items: center;
  background-color: whiteSmoke;
  display: flex;
  justify-content: center;
  height: 100px;
  text-align: center;
  padding: $padding-content-mobile;
  font-size: 1em;

  @media(min-width: $width-tablet) {
    line-height: 1.5;
    padding: 0 4em;
    text-align: left;
    font-weight: 300;
  }
}

.random-pattern-link {
  color: $color-dark-mint;
}
