.tile-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 4em;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    padding: 3em 2em 0em 1em;
  }
}

/*.tile-bar-img {
  padding: 1em 0em;
  display: block;
  width: 25%;
  align-self: center;

  @media (min-width: $width-tablet) {
    padding: 0 3em;
  }
}*/

.text-main {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  };
}

.home-top-text {
  font-size: 1.25em;
  text-transform: uppercase;
  padding-bottom: 3em;
  font-weight: 100;
}

.text-main p {
  margin-bottom: 1.5em;
  font-size: 1.15em;
  max-width: 800px;
  line-height: 1.5;
  font-weight: 100;
}

.text-main h3 {
  margin-bottom: 1em;
}

.mission-statement {
  align-self: center;
  font-size: 1.15em;
  padding: 4em $padding-content-mobile;
  text-align: justify;

  @media(min-width: $width-tablet) {
    padding: 3em $padding-content;
  }

  .contact-us {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }
}

.home-bios {
  padding-top: 2em;
}

.home-bio {
  padding: $padding-content-mobile;
  display: flex;
  flex-flow: column;
  padding-bottom: 3em;

  @media(min-width: $width-tablet) {
    padding: 2em $padding-content;
    flex-flow: row;
  }
}

.home-bio-img-container {
  display: block;
  height: auto;
  padding-bottom: 2em;
  width: 100%;

  @media (min-width: $width-tablet) {
    padding: 0;
    width: 30%;
  }

  @media (min-width: $width-laptop) {
    width: 20%;
  }
}

.home-bio-img {
  width: 100%;
}

.home-bio-p {
  width: 100%;

  @media (min-width: $width-tablet) {
    padding: 0 0 0 2em;
    width: 70%;
  }

  @media (min-width: $width-laptop) {
    padding: 1em 3em 0 3em;
    width: 75%;
  }
}

.core-list {
  width: 100%;
  text-align: center;
  padding: 1em 2em;
  font-size: 1.15em;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    text-align: center;
  }
}

.core-list-li {
  margin-bottom: 1em;
}

.contact-us {
  margin: 2em auto;
  padding: 0 $padding-content-mobile;
}

.tiles-main {
  padding: 2em 0;
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    padding: 0em;
  }
}

.tiles-main-img {
  display: block;
  float: left;
  height: auto;

  @media (min-width: $width-tablet) {
    width: 50%;
  }
}

.slider-decorator-0 button, .slider-decorator-1 button {
  font-size: 1em;
  background: black !important;
}

