.HomeHero {
  position: relative;
  padding-top: 40px;

  @media(min-width: $width-tablet) {
    padding-top: 6px;
  }
}

.HomeHero-background {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.HomeHero-tile {
  width: 20%;
  flex-grow: 0;

  @media(min-width: $width-tablet) {
    width: 10%;
  }

  img {
    width: 100%;
  }

  &.rotate-standard {
    &:nth-child(2n) {
      transform: rotate(90deg);
    };

    &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19) {
      /*transform: rotate(90deg);*/
    }

    &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
      /*transform: rotate(270deg);*/
    }

    @media(min-width: $width-tablet) {
      &:nth-child(2n) {
        transform: rotate(90deg);
      };

      &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19) {
        transform: rotate(270deg);
      }

      &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
        transform: rotate(180deg);
      }
    }
  }

  &.rotate-right {

    &:nth-child(2n) {
      transform: rotate(90deg);
    };

    &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
      transform: rotate(90deg);
    }

    @media(min-width: $width-tablet) {
      &:nth-child(2n) {
        transform: rotate(-90deg);
      };

      &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19) {
        transform: rotate(90deg);
      }

      &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
        transform: rotate(180deg);
      }
    }
  }

  &.rotate-mirror {
    @media(min-width: $width-tablet) {
      &:nth-child(2n) {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      };

      &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19) {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }

      &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
        transform: rotate(180deg);
      }
    }
  }
}

.HomeHero-text-container {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  position: absolute;
  justify-content: center;
  -webkit-justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
}

.HomeHero-text {
  background-color: $color-slate-grey;
  color: white;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-flow: column;
  padding: 1em 2em;
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .25em;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

.pattern-cta {
  align-items: center;
  background-color: whiteSmoke;
  display: flex;
  justify-content: center;
  height: 100px;
  text-align: center;
  padding: $padding-content-mobile;

  @media(min-width: $width-tablet) {
    text-align: left;
  }
}

.random-pattern-link {
  color: $color-dark-mint;
}
