.PatternBar {
  display: flex;
}

.pattern-bar-tile {
  flex-grow: 0;
  width: 20%;

  img {
    width: 100%;
  }
}

.pattern-bar-line-drawing {
  position: absolute;
}

.pattern-bar-text {
  position: absolute;
}
