$color-light-mint: #F5FFFA;
$color-mint:  #30B898;
$color-dark-mint: #155244;
$color-black: #1a1a1a;
$color-slate-grey: #161a1d;
$color-link: #cc3a00;
$color-dark-blue: #343844;
$color-dark-brown: #241b20;
$color-light-gray: whiteSmoke;
